@model BlogApp.ViewModels.PostFormViewModel
@{
    ViewData["Title"] = "Edit the Post";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <input type="text" name="Title" value="@Model.Title" placeholder="Post title..." />
    </div>
        <div>
            <textarea name="Content" placeholder="Post content...">@Model.Content</textarea>
            </div>
            <div>
                <input type="text" name="AuthorName" value="@Model.AuthorName" placeholder="Author name..." />
                </div>
                <button type="submit">Update Post</button>
                </form>
                <a asp-action="Index">Back to Blogs List</a>
                <a asp-action="Details" asp-route-id="@Model.Id">Back to Post Details</a>
           
