@model ProductInventory.ViewModels.ProductIndexViewModel


@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>
<a asp-action="Create">Create New Product</a>

<form asp-action="Index" method="get">
    <select name="categoryId">
        <option value="">All Categories</option>
        @foreach (var category in Model.Categories)
        {
            @* <option value="@category.Id" 
                selected=@(Model.SelectedCategoryId == category.Id ? "selected" : "")>
                @category.Name
            </option> *@
            if (category.Id == Model.SelectedCategoryId)
            {
                <option value="@category.Id" selected>@category.Name</option>
            }
            else
            {
                <option value="@category.Id">@category.Name</option>
            }
        }
    </select>
    <button type="submit">Filter</button>
</form>

<input type="text" id="productSearch" placeholder="Search products..." />

<input type="text" id="productSearchApi" placeholder="Search products (API)..." />

@await Html.PartialAsync("_ProductsTable", Model.Products)

@section Scripts {
    <script src="~/js/productSearch.js"></script>
    <script src="~/js/productSearchApi.js"></script>
}